<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/fragments/layout.html}">
<head>
    <title>Hireo</title>
</head>
<body>
<div class="single-page-header" data-background-image="http://www.vasterad.com/themes/hireo/images/single-company.jpg"
     layout:fragment="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-page-header-inner">
                    <div class="left-side">
                        <div class="header-image"><img th:src="${detail.avatar}" alt=""></div>
                        <div class="header-details">
                            <h3>[[${detail.name}]]</h3>
                            <ul>
                                <li>
                                    <div class="star-rating" th:data-rating="${T(java.lang.String).format('%.1f', detail.rating)}"></div>
                                </li>
                                <li th:if="${detail.nationality != null}">
                                    <img class="flag"
                                         th:src="${'/client/images/flags/' + detail.nationality.toLowerCase() + '.svg'}" alt="">
                                    [[${countries.get(detail.nationality)}]]
                                </li>
                                <li>
                                    <div class="verified-badge-with-title">Verified</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-side">
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs" class="white">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/employers">Browse Employers</a></li>
                                <li>[[${detail.name}]]</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content
================================================== -->
<div class="container" layout:fragment="body">
    <div class="row employer-info" th:data-id="${detail.id}">

        <!-- Content -->
        <div class="col-xl-8 col-lg-8 content-right-offset">

            <div class="single-page-section">
                <h3 class="margin-bottom-25">About Company</h3>
                <div th:utext="${detail.description}"></div>
            </div>

            <!-- Boxed List -->
            <div class="boxed-list margin-bottom-60" th:if="${jobList.size() > 0}">
                <div class="boxed-list-headline">
                    <h3><i class="icon-material-outline-business-center"></i> Open Positions</h3>
                </div>

                <div class="listings-container compact-list-layout">

                    <!-- Job Listing -->
                    <a th:href="${'/job-' + item.slug}" class="job-listing" th:each="item : ${jobList}">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">[[${item.name}]]</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-location-on"></i> [[${item.address}]]</li>
                                        <li><i class="icon-material-outline-business-center"></i>
                                            [[${item.jobType.name}]]
                                        </li>
                                        <li><i class="icon-material-outline-access-time"></i>
                                            [[${#dates.format(item.createdAt, 'MMMM yyyy')}]]
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Boxed List / End -->

            <!-- Boxed List -->
            <div class="boxed-list margin-bottom-60" th:if="${reviewList.size() > 0}">
                <div class="boxed-list-headline">
                    <h3><i class="icon-material-outline-thumb-up"></i> Reviews</h3>
                </div>
                <ul class="boxed-list-ul">
                    <li th:each="item : ${reviewList}">
                        <div class="boxed-list-item">
                            <!-- Content -->
                            <div class="item-content">
                                <h4>[[${item.title}]]</h4>
                                <div class="item-details margin-top-10">
                                    <div class="star-rating" th:data-rating="${T(java.lang.String).format('%.1f', item.rating)}"></div>
                                    <div class="detail-item"><i class="icon-material-outline-date-range"></i>
                                        [[${#dates.format(item.createdAt, 'MMMM yyyy')}]]
                                    </div>
                                </div>
                                <div class="item-description">
                                    <p>[[${item.message}]]</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Boxed List / End -->
        </div>

        <!-- Sidebar -->
        <div class="col-xl-4 col-lg-4">
            <div class="sidebar-container">

                <!-- Location -->
                <div class="sidebar-widget" th:if="${detail.addressLocation != null}">
                    <h3>Location</h3>
                    <div id="single-job-map-container">
                        <div id="map"
                             style="width: 100%; height: 300px"
                             th:attr="data-location=${detail.addressLocation.x + ',' + detail.addressLocation.y}"
                             data-map-icon="im im-icon-Hamburger"></div>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="sidebar-widget">
                    <h3>Share</h3>

                    <!-- Copy URL -->
                    <div class="copy-url">
                        <input id="copy-url" type="text" value="" class="with-border">
                        <button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url"
                                title="Copy to Clipboard" data-tippy-placement="top"><i
                                class="icon-material-outline-file-copy"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div layout:fragment="footer">
    <div th:replace="client/fragments/footer1.html :: div#footer"></div>
</div>

<script layout:fragment="js">
    // Initialize and add the map
    function initMap() {
        const location = $('#map').attr('data-location');

        if (!location) return;

        const lat = location.split(',')[0];
        const lng = location.split(',')[1];
        const center = {lat: parseFloat(lat), lng: parseFloat(lng)};
        const centerLatLng = new google.maps.LatLng(center);

        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: centerLatLng,
            ...mapConfig,
        });

        initCustomerMarker(centerLatLng, map, {marker_id: '1'});
    }
</script>
</body>
</html>
