<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/fragments/layout.html}">
<head>
    <title>Hireo</title>
</head>
<body>
<div class="dashboard-container" layout:fragment="body">
    <div th:replace="client/fragments/dashboard-sidebar.html :: div"></div>

    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Settings</h3>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Profile</li>
                    </ul>
                </nav>
            </div>

            <!-- Row -->
            <form th:action="${'/dashboard/employer/profile'}" id="myform" method="post" th:object="${profile}"
                  enctype="multipart/form-data">
                <div class="row">
                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
                            </div>

                            <div class="content with-padding padding-bottom-0">

                                <div class="row">

                                    <div class="col-auto">
                                        <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                            <img class="profile-pic" th:src="@{${profile.avatar}}"
                                                 alt="x"/>
                                            <div class="upload-button"></div>
                                            <input type="hidden" th:field="*{avatar}" id="imghidden" value="">
                                            <input class="file-upload" type="file" accept="image/*"/>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="row">

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Name</h5>
                                                    <input th:field="*{name}" type="text" required
                                                           class="with-border">
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Email</h5>
                                                    <input th:field="*{email}" type="text" class="with-border"
                                                           style="background-color: #e0e0e0;"
                                                           readonly>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <!-- Account Type -->
                                                <div class="submit-field">
                                                    <h5>Account Type</h5>
                                                    <div class="account-type">
                                                        <div>
                                                            <input type="radio" name="account-type-radio"
                                                                   id="freelancer-radio" class="account-type-radio"
                                                                   disabled/>
                                                            <label for="freelancer-radio" class="ripple-effect-dark"><i
                                                                    class="icon-material-outline-account-circle"></i>
                                                                Freelancer</label>
                                                        </div>

                                                        <div>
                                                            <input type="radio" name="account-type-radio"
                                                                   id="employer-radio" class="account-type-radio"
                                                                   checked/>
                                                            <label for="employer-radio" class="ripple-effect-dark"><i
                                                                    class="icon-material-outline-business-center"></i>
                                                                Employer</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-face"></i> My Profile</h3>
                            </div>

                            <div class="content">
                                <ul class="fields-ul">
                                    <li>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="submit-field">
                                                    <h5>Address</h5>
                                                    <input th:field="*{address}" type="text" class="with-border">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Phone</h5>
                                                    <input th:field="*{phone}" type="text" class="with-border">
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Nationality</h5>
                                                    <select th:field="*{nationality}"
                                                            class="selectpicker with-border" data-size="7"
                                                            title="Select Nationality" data-live-search="true">
                                                        <option th:each="key : ${countries.keySet()}"
                                                                th:selected="${profile.nationality == key}"
                                                                th:value="${key}">
                                                            [[${countries.get(key)}]]
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="submit-field">
                                                    <h5>Description</h5>
                                                    <textarea th:field="*{description}" cols="30" rows="5"
                                                              class="with-border"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div id="test1" class="dashboard-box">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-lock"></i> Password & Security</h3>
                            </div>

                            <div class="content with-padding">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Current Password</h5>
                                            <input th:field="*{password}" type="password" class="with-border">

                                            <p th:text="${errorMessage}" class="color-red"></p>
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>New Password</h5>
                                            <input th:field="*{newPassword}" type="password" class="with-border">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="col-xl-12">
                        <button type="submit" class="button ripple-effect big margin-top-30">Save Changes</button>
                    </div>

                </div>
            </form>
            <!-- Row / End -->

            <!-- Footer -->
            <div class="dashboard-footer-spacer"></div>
            <div th:replace="client/fragments/footer2.html :: div"></div>
            <!-- Footer / End -->

        </div>
    </div>
    <!-- Dashboard Content / End -->
</div>
<script layout:fragment="js">
    $('.file-upload').on('change', function () {
        var fileUpload = $('.file-upload')[0].files;
        var fd = new FormData();
        if (fileUpload.length > 0) {
            fd.append("file", fileUpload[0]);
            $.ajax({
                type: 'POST',
                data: fd,
                contentType: false,
                processData: false,
                url: '/api/job-proposals/resume',
                headers: {
                    [$('[name="_csrf_header"]').attr('content')]: $('[name="_csrf"]').attr('content')
                },
                enctype: 'multipart/form-data',
                success: function (res) {
                    $('#imghidden').val(res.data.path);
                }, error: function (error) {
                    console.log('error ', error)
                }
            });
        }
    })
</script>
</body>
</html>