spring.datasource.driverClassName=com.microsoft.sqlserver.jdbc.SQLServerDriver
spring.datasource.url=jdbc:sqlserver://localhost:1433;databaseName=spring
spring.datasource.username=sa
spring.datasource.password=1234
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
#logging.level.org.hibernate.type.descriptor.sql=trace

## Hibernate Properties
# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect = org.hibernate.spatial.dialect.sqlserver.SqlServer2008SpatialDialect
#spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.SQLServer2012Dialect
spring.jpa.generate-ddl=true

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto = update

spring.security.oauth2.client.registration.google.client-id=635630593997-pjhq8uhv18cetuubv2pbi7ttsdoftuun.apps.googleusercontent.com
spring.security.oauth2.client.registration.google.client-secret=UD7Yf9hLL2wHwLoD7PWVSNRr
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true

server.domain=http://localhost:8080
server.port=8080

upload.file.directory=/home/william/Code/FinalProject/src/main/resources/medias
upload.static-directory=api/medias

spring.servlet.multipart.max-file-size=15728640

google-api-key=AIzaSyBYiHfMlwJdYaxFTkZQAk57bZaLPPW35TY

spring.thymeleaf.cache=false
spring.thymeleaf.enabled=true