<header id="header-container" class="fullwidth" xmlns:th="http://www.thymeleaf.org">
    <!-- Header -->
    <div id="header" th:with="isLoggedIn=${(#authentication.getPrincipal() instanceof T(org.springframework.security.authentication.AnonymousAuthenticationToken)) == false && (#authentication.getPrincipal() instanceof T(java.lang.String)) == false}">
        <div class="container" th:with="role=${isLoggedIn ? #authentication.getPrincipal().getInformation().get('role') : ''}">
            <!-- Left Side Content -->
            <div class="left-side">
                <!-- Logo -->
                <div id="logo">
                    <a href="/"><img th:src="@{/client/images/logo.png}" alt=""></a>
                </div>

                <!-- Main Navigation -->
                <nav id="navigation">
                    <ul id="responsive">

                        <li><a href="/">Home</a></li>

                        <li><a href="#">Find Work</a>
                            <ul class="dropdown-nav">
                                <li><a href="/">Newest Jobs</a></li>
                                <li><a href="/map">Jobs Nearby</a></li>
                                <li><a href="/employers">Browse Employers</a></li>
                            </ul>
                        </li>

                        <li th:if="${isLoggedIn}">
                            <a href="/employees">Find Employees</a>
                        </li>

                        <li><a href="/memberships">Pricing Plans</a></li>

                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
                <!-- Main Navigation / End -->

            </div>
            <!-- Left Side Content / End -->


            <!-- Right Side Content / End -->
            <div class="right-side" th:if="${isLoggedIn}">
                <!--  User Notifications -->
<!--                <div class="header-widget hide-on-mobile">-->

<!--                    &lt;!&ndash; Notifications &ndash;&gt;-->
<!--                    <div class="header-notifications">-->

<!--                        &lt;!&ndash; Trigger &ndash;&gt;-->
<!--                        <div class="header-notifications-trigger">-->
<!--                            <a href="#"><i class="icon-feather-bell"></i><span>4</span></a>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Dropdown &ndash;&gt;-->
<!--                        <div class="header-notifications-dropdown">-->

<!--                            <div class="header-notifications-headline">-->
<!--                                <h4>Notifications</h4>-->
<!--                                <button class="mark-as-read ripple-effect-dark" title="Mark all as read"-->
<!--                                        data-tippy-placement="left">-->
<!--                                    <i class="icon-feather-check-square"></i>-->
<!--                                </button>-->
<!--                            </div>-->

<!--                            <div class="header-notifications-content">-->
<!--                                <div class="header-notifications-scroll" data-simplebar>-->
<!--                                    <ul>-->
<!--                                        &lt;!&ndash; Notification &ndash;&gt;-->
<!--                                        <li class="notifications-not-read">-->
<!--                                            <a href="dashboard-manage-candidates.html">-->
<!--                                                    <span class="notification-icon"><i-->
<!--                                                            class="icon-material-outline-group"></i></span>-->
<!--                                                <span class="notification-text">-->
<!--													<strong>Michael Shannah</strong> applied for a job <span-->
<!--                                                        class="color">Full Stack Software Engineer</span>-->
<!--												</span>-->
<!--                                            </a>-->
<!--                                        </li>-->

<!--                                        &lt;!&ndash; Notification &ndash;&gt;-->
<!--                                        <li>-->
<!--                                            <a href="dashboard-manage-bidders.html">-->
<!--                                                    <span class="notification-icon"><i-->
<!--                                                            class=" icon-material-outline-gavel"></i></span>-->
<!--                                                <span class="notification-text">-->
<!--													<strong>Gilbert Allanis</strong> placed a bid on your <span-->
<!--                                                        class="color">iOS App Development</span> project-->
<!--												</span>-->
<!--                                            </a>-->
<!--                                        </li>-->

<!--                                        &lt;!&ndash; Notification &ndash;&gt;-->
<!--                                        <li>-->
<!--                                            <a href="dashboard-manage-jobs.html">-->
<!--                                                    <span class="notification-icon"><i-->
<!--                                                            class="icon-material-outline-autorenew"></i></span>-->
<!--                                                <span class="notification-text">-->
<!--													Your job listing <span class="color">Full Stack PHP Developer</span> is expiring.-->
<!--												</span>-->
<!--                                            </a>-->
<!--                                        </li>-->

<!--                                        &lt;!&ndash; Notification &ndash;&gt;-->
<!--                                        <li>-->
<!--                                            <a href="dashboard-manage-candidates.html">-->
<!--                                                    <span class="notification-icon"><i-->
<!--                                                            class="icon-material-outline-group"></i></span>-->
<!--                                                <span class="notification-text">-->
<!--													<strong>Sindy Forrest</strong> applied for a job <span-->
<!--                                                        class="color">Full Stack Software Engineer</span>-->
<!--												</span>-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                </div>-->
                <!--  User Notifications / End -->

                <!-- User Menu -->
                <div class="header-widget">

                    <!-- Messages -->
                    <div class="header-notifications user-menu">
                        <div class="header-notifications-trigger">
                            <a href="#">
                                <div class="user-avatar status-online">
                                    <img th:src="${#authentication.getPrincipal().getInformation().get('avatar')}" alt="">
                                </div>
                            </a>
                        </div>

                        <!-- Dropdown -->
                        <div class="header-notifications-dropdown">

                            <!-- User Status -->
                            <div class="user-status">

                                <!-- User Name / Avatar -->
                                <div class="user-details">
                                    <div class="user-avatar status-online">
                                        <img th:src="${#authentication.getPrincipal().getInformation().get('avatar')}" alt="">
                                    </div>

                                    <div class="user-name">
                                        [[${#authentication.getPrincipal().getInformation().get('name')}]]
                                        <span style="text-transform: capitalize">[[${role}]]</span>
                                    </div>
                                </div>

                                <!-- User Status Switcher -->
<!--                                <div class="status-switch" id="snackbar-user-status">-->
<!--                                    <label class="user-online current-status">Online</label>-->
<!--                                    <label class="user-invisible">Invisible</label>-->
<!--                                    &lt;!&ndash; Status Indicator &ndash;&gt;-->
<!--                                    <span class="status-indicator" aria-hidden="true"></span>-->
<!--                                </div>-->
                            </div>

                            <ul class="user-menu-small-nav">
                                <li>
                                    <a href="/dashboard">
                                        <i class="icon-material-outline-dashboard"></i>
                                        Dashboard
                                    </a>
                                </li>

                                <li>
                                    <a th:href="${'/dashboard/' + role + '/profile'}">
                                        <i class="icon-material-outline-settings"></i>
                                        Settings
                                    </a>
                                </li>

                                <li>
                                    <a th:href="${'/auth/logout'}">
                                        <i class="icon-material-outline-power-settings-new"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
                <!-- User Menu / End -->

                <!-- Mobile Navigation Button -->
                <span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

            </div>
            <!-- Right Side Content / End -->

        </div>
    </div>
    <!-- Header / End -->

</header>
