<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/fragments/layout.html}">
<head>
    <title>Hireo</title>
</head>
<body>
<div class="dashboard-container" layout:fragment="body">
    <div th:replace="client/fragments/dashboard-sidebar.html :: div"></div>

    <!-- Dashboard Content
================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Settings</h3>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <!--                        <li><a href="#">Dashboard</a></li>-->
                        <li>Settings</li>
                    </ul>
                </nav>
            </div>

            <!-- Row -->
            <form th:action="${'/employees/profile'}" method="post" th:object="${detail}" enctype="multipart/form-data">
                <div class="row">
                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
                            </div>

                            <div class="content with-padding padding-bottom-0">

                                <div class="row">

                                    <div class="col-auto">
                                        <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                            <img class="profile-pic" th:src="@{${detail.avatar}}"
                                                 alt="x"/>
                                            <div class="upload-button"></div>
                                            <input type="hidden" id="imghidden" th:field="*{avatar}" value="">
                                            <input class="file-upload" type="file" accept="image/*"/>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="row">

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>First Name</h5>
                                                    <input th:field="*{firstName}" type="text"
                                                           class="with-border">
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Last Name</h5>
                                                    <input th:field="*{lastName}" type="text" class="with-border"
                                                           value="Smith">
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <!-- Account Type -->
                                                <div class="submit-field">
                                                    <h5>Account Type</h5>
                                                    <div class="account-type">
                                                        <div>
                                                            <input type="radio" name="account-type-radio"
                                                                   id="freelancer-radio" class="account-type-radio"
                                                                   checked/>
                                                            <label for="freelancer-radio" class="ripple-effect-dark"><i
                                                                    class="icon-material-outline-account-circle"></i>
                                                                Freelancer</label>
                                                        </div>

                                                        <div>
                                                            <input type="radio" name="account-type-radio"
                                                                   id="employer-radio" class="account-type-radio"
                                                                   disabled/>
                                                            <label for="employer-radio" class="ripple-effect-dark"><i
                                                                    class="icon-material-outline-business-center"></i>
                                                                Employer</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Email</h5>
                                                    <input type="text" class="with-border" th:field="*{email}"
                                                           style="background-color: #e0e0e0;"
                                                           readonly>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-face"></i> My Profile</h3>
                            </div>

                            <div class="content">
                                <ul class="fields-ul">
                                    <li>
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <div class="submit-field">
                                                    <div class="bidding-widget">
                                                        <!-- Headline -->
                                                        <span class="bidding-detail">Set your <strong>minimal hourly rate</strong></span>

                                                        <!-- Slider -->
                                                        <div class="bidding-value margin-bottom-10">$<span
                                                                id="biddingVal"></span></div>
                                                        <input class="bidding-slider" type="text"
                                                               th:field="*{minHourlyRate}"
                                                               data-slider-handle="custom" data-slider-currency="$"
                                                               data-slider-min="0" data-slider-max="300000"
                                                               th:attr="data-slider-value=${detail.minHourlyRate}"
                                                               data-slider-step="1"
                                                               data-slider-tooltip="hide"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-4">
                                                <div class="submit-field">
                                                    <h5>Skills <i class="help-icon" data-tippy-placement="right"
                                                                  title="Add up to 10 skills"></i></h5>

                                                    <!-- Skills List -->
                                                    <div class="keywords-container">
                                                        <select
                                                                class="selectpicker default" multiple
                                                                data-selected-text-format="count" data-size="7"
                                                                title="All Categories" name="skillIds[]">
                                                            <option
                                                                    th:each="skill : ${skills}" th:value="${skill.id}"
                                                                    th:text="${skill.name}"
                                                                    name="skills"
                                                                    th:selected="${detail.skillIds.contains(skill.id)}"></option>
                                                        </select>
                                                        <!--                                                    <div class="keyword-input-container">-->
                                                        <!--                                                        <input type="text" class="keyword-input with-border" placeholder="e.g. Angular, Laravel"/>-->
                                                        <!--                                                        <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>-->
                                                        <!--                                                    </div>-->
                                                        <!--                                                    <div class="keywords-list">-->
                                                        <!--                                                        <span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Angular</span></span>-->
                                                        <!--                                                        <span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Vue JS</span></span>-->
                                                        <!--                                                        <span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">iOS</span></span>-->
                                                        <!--                                                        <span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Android</span></span>-->
                                                        <!--                                                        <span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Laravel</span></span>-->
                                                        <!--                                                    </div>-->
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-4">
                                                <div class="submit-field">
                                                    <h5>Attachments</h5>

                                                    <!-- Attachments -->
                                                    <div class="attachments-container margin-top-0 margin-bottom-0">
                                                        <div class="attachment-box ripple-effect">
                                                            <span>Cover Letter</span>
                                                            <button class="remove-attachment" data-tippy-placement="top"
                                                                    title="Remove"></button>
                                                        </div>
                                                        <div class="attachment-box ripple-effect">
                                                            <span>Contract</span>
                                                            <button class="remove-attachment" data-tippy-placement="top"
                                                                    title="Remove"></button>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <!-- Upload Button -->
                                                    <div class="uploadButton margin-top-0">
                                                        <input class="uploadButton-input" type="file"
                                                               accept="image/*, application/pdf" id="upload" multiple/>
                                                        <label class="uploadButton-button ripple-effect" for="upload">Upload
                                                            Files</label>
                                                        <span class="uploadButton-file-name">Maximum file size: 10 MB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Phone</h5>
                                                    <input type="text" th:field="*{phone}" class="with-border">
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Address</h5>
                                                    <input type="text" th:field="*{address}" class="with-border">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Job title</h5>
                                                    <input type="text" class="with-border"
                                                           th:field="*{jobTitle}">
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Nationality</h5>
                                                    <select th:field="*{nationality}" th:value="${detail.nationality}"
                                                            class="selectpicker with-border" data-size="7"
                                                            title="Select Job Type" data-live-search="true">
                                                        <option value="AR">Argentina</option>
                                                        <option value="AM">Armenia</option>
                                                        <option value="AW">Aruba</option>
                                                        <option value="AU">Australia</option>
                                                        <option value="AT">Austria</option>
                                                        <option value="AZ">Azerbaijan</option>
                                                        <option value="BS">Bahamas</option>
                                                        <option value="BH">Bahrain</option>
                                                        <option value="BD">Bangladesh</option>
                                                        <option value="BB">Barbados</option>
                                                        <option value="BY">Belarus</option>
                                                        <option value="BE">Belgium</option>
                                                        <option value="BZ">Belize</option>
                                                        <option value="BJ">Benin</option>
                                                        <option value="BM">Bermuda</option>
                                                        <option value="BT">Bhutan</option>
                                                        <option value="BG">Bulgaria</option>
                                                        <option value="BF">Burkina Faso</option>
                                                        <option value="BI">Burundi</option>
                                                        <option value="KH">Cambodia</option>
                                                        <option value="CM">Cameroon</option>
                                                        <option value="CA">Canada</option>
                                                        <option value="CV">Cape Verde</option>
                                                        <option value="KY">Cayman Islands</option>
                                                        <option value="CO">Colombia</option>
                                                        <option value="KM">Comoros</option>
                                                        <option value="CG">Congo</option>
                                                        <option value="CK">Cook Islands</option>
                                                        <option value="CR">Costa Rica</option>
                                                        <option value="CI">Côte d'Ivoire</option>
                                                        <option value="HR">Croatia</option>
                                                        <option value="CU">Cuba</option>
                                                        <option value="CW">Curaçao</option>
                                                        <option value="CY">Cyprus</option>
                                                        <option value="CZ">Czech Republic</option>
                                                        <option value="DK">Denmark</option>
                                                        <option value="DJ">Djibouti</option>
                                                        <option value="DM">Dominica</option>
                                                        <option value="DO">Dominican Republic</option>
                                                        <option value="EC">Ecuador</option>
                                                        <option value="EG">Egypt</option>
                                                        <option value="GP">Guadeloupe</option>
                                                        <option value="GU">Guam</option>
                                                        <option value="GT">Guatemala</option>
                                                        <option value="GG">Guernsey</option>
                                                        <option value="GN">Guinea</option>
                                                        <option value="GW">Guinea-Bissau</option>
                                                        <option value="GY">Guyana</option>
                                                        <option value="HT">Haiti</option>
                                                        <option value="HN">Honduras</option>
                                                        <option value="HK">Hong Kong</option>
                                                        <option value="HU">Hungary</option>
                                                        <option value="IS">Iceland</option>
                                                        <option value="IN">India</option>
                                                        <option value="ID">Indonesia</option>
                                                        <option value="NO">Norway</option>
                                                        <option value="OM">Oman</option>
                                                        <option value="PK">Pakistan</option>
                                                        <option value="PW">Palau</option>
                                                        <option value="PA">Panama</option>
                                                        <option value="PG">Papua New Guinea</option>
                                                        <option value="PY">Paraguay</option>
                                                        <option value="PE">Peru</option>
                                                        <option value="PH">Philippines</option>
                                                        <option value="PN">Pitcairn</option>
                                                        <option value="PL">Poland</option>
                                                        <option value="PT">Portugal</option>
                                                        <option value="PR">Puerto Rico</option>
                                                        <option value="QA">Qatar</option>
                                                        <option value="RE">Réunion</option>
                                                        <option value="RO">Romania</option>
                                                        <option value="RU">Russian Federation</option>
                                                        <option value="RW">Rwanda</option>
                                                        <option value="SZ">Swaziland</option>
                                                        <option value="SE">Sweden</option>
                                                        <option value="CH">Switzerland</option>
                                                        <option value="TR">Turkey</option>
                                                        <option value="TM">Turkmenistan</option>
                                                        <option value="TV">Tuvalu</option>
                                                        <option value="UG">Uganda</option>
                                                        <option value="UA">Ukraine</option>
                                                        <option value="GB">United Kingdom</option>
                                                        <option value="US">United States</option>
                                                        <option value="UY">Uruguay</option>
                                                        <option value="UZ">Uzbekistan</option>
                                                        <option value="YE">Yemen</option>
                                                        <option value="ZM">Zambia</option>
                                                        <option value="ZW">Zimbabwe</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="submit-field">
                                                    <h5>Description</h5>
                                                    <textarea th:field="*{description}" cols="30" rows="5"
                                                              class="with-border"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="submit-field">
                                                    <h5>Social Profile</h5>
                                                    <textarea th:field="*{socialProfiles}" cols="30" rows="5"
                                                              class="with-border"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div id="test1" class="dashboard-box">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-lock"></i> Password & Security</h3>
                            </div>

                            <div class="content with-padding">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Current Password</h5>
                                            <input th:field="*{password}" type="password" class="with-border">
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>New Password</h5>
                                            <input type="password" class="with-border">
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Repeat New Password</h5>
                                            <input type="password" class="with-border">
                                        </div>
                                    </div>

                                    <!--                                    <div class="col-xl-12">-->
                                    <!--                                        <div class="checkbox">-->
                                    <!--                                            <input type="checkbox" id="two-step" checked>-->
                                    <!--                                            <label for="two-step"><span class="checkbox-icon"></span> Enable Two-Step-->
                                    <!--                                                Verification via Email</label>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="col-xl-12">
                        <button type="submit" class="button ripple-effect big margin-top-30">Save Changes</button>
                    </div>

                </div>
            </form>
            <!-- Row / End -->

            <!-- Footer -->
            <div class="dashboard-footer-spacer"></div>
            <div th:replace="client/fragments/footer2.html :: div"></div>
            <!-- Footer / End -->

        </div>
    </div>
    <!-- Dashboard Content / End -->
</div>
<script layout:fragment="js">
    $('.file-upload').on('change', function () {
        var fileUpload = $('.file-upload')[0].files;
        var fd = new FormData();
        if (fileUpload.length > 0) {
            fd.append("file", fileUpload[0]);
            $.ajax({
                type: 'POST',
                data: fd,
                contentType: false,
                processData: false,
                url: '/api/job-proposals/resume',
                headers: {
                    [$('[name="_csrf_header"]').attr('content')]: $('[name="_csrf"]').attr('content')
                },
                enctype: 'multipart/form-data',
                success: function (res) {
                    $('#imghidden').val(res.data.path);
                }, error: function (error) {
                    console.log('error ', error)
                }
            });
        }
    })
</script>
</body>
</html>