  <!-- Top Bar Start -->
  <div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <a href="index" class="logo">
            <span>
                    <img src="public/assets/images/logo-light.png" alt="" height="18">
                </span>
            <i>
                    <img src="public/assets/images/logo-sm.png" alt="" height="22">
                </i>
        </a>
    </div>
</div>
<!-- Top Bar End -->
