<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/fragments/layout.html}">
<head>
    <title>Hireo</title>
</head>
<body>
<div layout:fragment="body">
    <div th:replace="client/modules/jobs/job-proposal.html :: div"></div>

    <div class="single-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-page-header-inner">
                        <div class="left-side">
                            <div class="header-image"><a href="single-company-profile.html"><img
                                    th:src="@{${detail.employer.avatar}}" alt=""></a></div>
                            <div class="header-details">
                                <h3 th:utext="${detail.name}"></h3>
                                <h5>About the Employer</h5>
                                <ul>
                                    <li><a href="single-company-profile.html"><i
                                            class="icon-material-outline-business"></i> [[${detail.employer.name}]]</a>
                                    </li>
                                    <li>
                                        <div class="star-rating" data-rating="4.9"></div>
                                    </li>
                                    <li>
                                        <img class="flag" th:src="@{/client/images/flags/gb.svg}" alt="">
                                        United Kingdom
                                    </li>
                                    <li>
                                        <div class="verified-badge-with-title">Verified</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="salary-box">
                                <div class="salary-type">Annual Salary</div>
                                <div th:if="${detail.salaryFrom > 0}" class="salary-amount">
                                    $[[${detail.salaryFrom == null ? 0 : detail.salaryFrom}]] - $[[${detail.salaryTo == null ? 0 : detail.salaryTo}]]
                                </div>
                                <div th:if="${detail.salaryFrom == 0 || detail.salaryFrom == null}"
                                     class="salary-amount">Negotiate
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page Content
    ================================================== -->
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div class="col-xl-8 col-lg-8 content-right-offset">

                <div class="single-page-section">
                    <h3 class="margin-bottom-25">Job Description</h3>
                    <p th:utext="${detail.description}"></p>
                </div>

                <div class="single-page-section">
                    <h3 class="margin-bottom-30">Location</h3>
                    <div id="single-job-map-container">
                        <!--                        <div id="singleListingMap" data-latitude="51.507717" data-longitude="-0.131095" data-map-icon="im im-icon-Hamburger"></div>-->
                        <div id="map" th:attr="data-location=${detail.location}"
                             style="width: 100%; height: 400px"></div>
                    </div>
                </div>

                <div class="single-page-section">
                    <h3 class="margin-bottom-25">Similar Jobs</h3>

                    <!-- Listings Container -->
                    <div class="listings-container grid-layout">

                        <!-- Job Listing -->
                        <a th:each="similar : ${listSimilar}" th:href="@{${similar.slug}}" class="job-listing">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">
                                <!-- Logo -->
                                <div class="job-listing-company-logo">
                                    <img th:src="@{${similar.employer.avatar}}" alt="">
                                </div>

                                <!-- Details -->
                                <div class="job-listing-description">
                                    <h4 class="job-listing-company">
                                        [[${similar.employer.name}]]
                                        <span class="verified-badge" data-tippy-placement="top" data-tippy="" data-original-title="Verified Employer"></span>
                                    </h4>
                                    <h3 class="job-listing-title" th:text="${similar.name}"></h3>
                                </div>
                            </div>

                            <!-- Job Listing Footer -->
                            <div class="job-listing-footer">
                                <ul>
                                    <li><i class="icon-material-outline-location-on"></i>
                                        [[${similar.address}]]
                                    </li>
                                    <li><i class="icon-material-outline-business-center"></i>
                                        [[${similar.jobType.name}]]
                                    </li>
                                    <li th:if="${detail.salaryFrom > 0}">
                                        <i class="icon-material-outline-account-balance-wallet"></i>
                                        $[[${detail.salaryFrom == null ? 0 : detail.salaryFrom}]] - $[[${detail.salaryTo == null ? 0 : detail.salaryTo}]]
                                    </li>
                                    <li th:if="${detail.salaryFrom == 0 || detail.salaryFrom == null}"><i
                                            class="icon-material-outline-account-balance-wallet"></i> Negotiate
                                    </li>
                                    <li><i class="icon-material-outline-access-time"></i>
                                        [[${#dates.format(detail.createdAt, 'MM-dd-yyyy')}]]
                                    </li>
                                </ul>
                            </div>
                        </a>

                    </div>
                    <!-- Listings Container / End -->

                </div>
            </div>


            <!-- Sidebar -->
            <div class="col-xl-4 col-lg-4">
                <div class="sidebar-container">

                    <a href="#small-dialog"
                       th:class="${proposal == null ? 'apply-now-button popup-with-zoom-anim' : 'applied'}"
                       th:text="${proposal == null ? 'Apply Now' : 'Applied'}"><i
                            class="icon-material-outline-arrow-right-alt"></i></a>
                    <!-- Sidebar Widget -->
                    <div class="sidebar-widget">
                        <div class="job-overview">
                            <div class="job-overview-headline">Job Summary</div>
                            <div class="job-overview-inner">
                                <ul>
                                    <li>
                                        <i class="icon-material-outline-location-on"></i>
                                        <span>Location</span>
                                        <h5>[[${detail.address}]]</h5>
                                    </li>
                                    <li>
                                        <i class="icon-material-outline-business-center"></i>
                                        <span>Job Type</span>
                                        <h5 th:utext="${detail.jobType.name}"></h5>
                                    </li>
                                    <li>
                                        <i class="icon-material-outline-local-atm"></i>
                                        <span>Salary</span>
                                        <h5 th:if="${detail.salaryFrom > 0}">
                                            $[[${detail.salaryFrom == null ? 0 : detail.salaryFrom}]] - $[[${detail.salaryTo == null ? 0 : detail.salaryTo}]]
                                        </h5>
                                        <h5 th:if="${detail.salaryFrom == 0 || detail.salaryFrom == null}">Negotiate</h5>
                                    </li>
                                    <li>
                                        <i class="icon-material-outline-access-time"></i>
                                        <span>Date Posted</span>
                                        <h5 th:utext="${#dates.format(detail.createdAt, 'dd MMMM, yyyy')}"></h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Sidebar Widget -->
                    <div class="sidebar-widget">
                        <h3>Bookmark or Share</h3>

                        <!-- Bookmark Button -->
                        <button class="bookmark-button margin-bottom-25">
                            <span class="bookmark-icon"></span>
                            <span class="bookmark-text">Bookmark</span>
                            <span class="bookmarked-text">Bookmarked</span>
                        </button>

                        <!-- Copy URL -->
                        <div class="copy-url">
                            <input id="copy-url" type="text" value="" class="with-border">
                            <button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url"
                                    title="Copy to Clipboard" data-tippy-placement="top"><i
                                    class="icon-material-outline-file-copy"></i></button>
                        </div>

                        <!-- Share Buttons -->
                        <div class="share-buttons margin-top-25">
                            <div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
                            <div class="share-buttons-content">
                                <span>Interesting? <strong>Share It!</strong></span>
                                <ul class="share-buttons-icons">
                                    <li><a href="#" data-button-color="#3b5998" title="Share on Facebook"
                                           data-tippy-placement="top"><i class="icon-brand-facebook-f"></i></a></li>
                                    <li><a href="#" data-button-color="#1da1f2" title="Share on Twitter"
                                           data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                                    <li><a href="#" data-button-color="#dd4b39" title="Share on Google Plus"
                                           data-tippy-placement="top"><i class="icon-brand-google-plus-g"></i></a></li>
                                    <li><a href="#" data-button-color="#0077b5" title="Share on LinkedIn"
                                           data-tippy-placement="top"><i class="icon-brand-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="js">
    $('#btnApplyNow').on('click', function () {
        var fileUpload = $('#upload-cv')[0].files;
        console.log(fileUpload)
        var message = $('#message').val();
        var fd = new FormData();

        if (fileUpload.length > 0) {
            fd.append("file", fileUpload[0]);
            $.ajax({
                type: 'POST',
                data: fd,
                contentType: false,
                processData: false,
                url: '/api/job-proposals/resume',
                headers: {
                    [$('[name="_csrf_header"]').attr('content')]: $('[name="_csrf"]').attr('content')
                },
                enctype: 'multipart/form-data',
                success: function (res) {
                    console.log('res >>>> ', res);
                }, error: function (error) {
                    console.log('error ', error)
                }
            });
        }
    });

    // Initialize and add the map
    function initMap() {
        const location = $('#map').attr('data-location');

        const lat = location.split(',')[0];
        const lng = location.split(',')[1];
        // The location of Uluru
        const uluru = {lat: parseInt(lat), lng: parseInt(lng)};
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 10,
            center: uluru,
        });
        const mapMarker = "https://www.mapsmarker.com/wp-content/uploads/leaflet-maps-marker-icons/bar_coktail.png"
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
            icon: mapMarker,
            animation: google.maps.Animation.BOUNCE
        });
        marker.addListener("click", function () {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        })
    }
</script>
</body>
</html>
