<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/fragments/layout.html}">
<head>
    <title>Hireo</title>
</head>
<body>
<div class="full-page-container" layout:fragment="body">
    <div class="full-page-container with-map">

        <div class="full-page-sidebar hidden-sidebar">
            <div class="full-page-sidebar-inner" data-simplebar>
                <form action="" method="GET" id="search-bar">
                    <div class="sidebar-container">
                        <!-- Keywords -->
                        <div class="sidebar-widget">
                            <h3>Keywords</h3>
                            <div class="keywords-container">
                                <div class="keyword-input-container">
                                    <input type="text" class="keyword-input" placeholder="e.g. job title"/>
                                    <button class="keyword-input-button ripple-effect" type="button">
                                        <i class="icon-material-outline-add"></i>
                                    </button>
                                </div>

                                <div class="keywords-list">
                                    <span class="keyword" th:each="name : ${searchJobDTO.names}">
                                        <span class="keyword-remove"></span>
                                        <span class="keyword-text" th:text="${name}"></span>
                                    </span>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <!-- Category -->
                        <div class="sidebar-widget">
                            <h3>Category</h3>
                            <select onchange="changeJobCategory()" id="category" class="selectpicker default" multiple
                                    name="jobCategories"
                                    data-selected-text-format="count" data-size="5" title="All Categories">
                                <option th:each="jobCategory : ${jobCategories}" th:value="${jobCategory.id}"
                                        th:selected="${searchJobDTO.jobCategories.contains(jobCategory.id)}"
                                        th:utext="${jobCategory.name}"></option>
                            </select>
                        </div>

                        <!-- Job Types -->
                        <div class="sidebar-widget">
                            <h3>Job Type</h3>

                            <div class="switches-list">
                                <div th:each="jobType : ${jobTypes}" class="switch-container">
                                    <label class="switch">
                                        <input type="checkbox" name="jobTypes" th:value="${jobType.id}"
                                               th:checked="${searchJobDTO.jobTypes.contains(jobType.id)}">
                                        <span class="switch-button"></span>
                                        [[${jobType.name}]]
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Salary -->
                        <div class="sidebar-widget">
                            <h3>Salary</h3>
                            <div class="margin-top-35"></div>

                            <!-- Range Slider -->
                            <input class="range-slider"
                                   name="salaryRange"
                                   type="text"
                                   th:value="${searchJobDTO.salaryFrom + ',' + searchJobDTO.salaryTo}"
                                   data-slider-currency="$"
                                   data-slider-min="0"
                                   data-slider-max="300000" data-slider-step="200" data-slider-value="[0,300000]"/>
                        </div>

                        <!-- Tags -->
                        <div class="sidebar-widget">
                            <h3>Skills</h3>

                            <div class="tags-container" id="tags-element">
                                <div class="tag" th:each="skill : ${skills}">
                                    <input type="checkbox"
                                           th:checked="${searchJobDTO.skills.contains(skill.id)}"
                                           name="skills"
                                           th:id="${'tag' + skill.id}"
                                           th:value="${skill.id}"/>
                                    <label th:for="${'tag' + skill.id}" th:text="${skill.name}"></label>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <!-- Search Button -->
                    <div class="sidebar-search-button-container">
                        <button type="submit" class="button ripple-effect">Search</button>
                    </div>
                    <!-- Search Button / End-->
                </form>
                <!-- Sidebar Container / End -->


            </div>
        </div>
        <!-- Full Page Sidebar / End -->


        <!-- Full Page Content -->
        <div class="full-page-content-container" data-simplebar>
            <div class="full-page-content-inner">

                <h3 class="page-title">Search Results</h3>

                <div class="listings-container grid-layout margin-top-35">

                    <!-- Job Listing -->
                    <a th:each="item : ${list}" th:href="${'/job-' + item.slug}"
                       th:attr="data-location=${item.addressLocation}" class="job-listing">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img th:src="${item.employer.avatar}" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h4 class="job-listing-company">
                                    [[${item.employer.name}]]
                                    <span class="verified-badge"
                                          title="Verified Employer"
                                          data-tippy-placement="top"></span>
                                </h4>
                                <h3 class="job-listing-title" th:utext="${item.name}"></h3>
                            </div>
                        </div>

                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer">
                            <!--                        <span class="bookmark-icon"></span>-->
                            <ul>
                                <li>
                                    <i class="icon-material-outline-location-on"></i>
                                    [[${item.address}]]
                                </li>
                                <li><i class="icon-material-outline-business-center"></i> [[${item.jobType.name}]]</li>
                                <li th:if="${item.salaryFrom > 0}">
                                    <i class="icon-material-outline-account-balance-wallet"></i>
                                    $[[${item.salaryFrom == null ? 0 : item.salaryFrom}]]
                                    -
                                    $[[${item.salaryTo == null ? 0 : item.salaryTo}]]
                                </li>
                                <li th:if="${item.salaryFrom == 0 || item.salaryFrom == null}">
                                    <i class="icon-material-outline-account-balance-wallet"></i> Negotiate
                                </li>
                            </ul>
                        </div>
                    </a>

                </div>

                <!-- Pagination -->
                <div class="clearfix"></div>
                <div th:if="${list.getTotalPages() > 1}" class="pagination-container margin-top-20 margin-bottom-20">
                    <nav class="pagination">
                        <ul>
                            <li th:class="${list.getPageable().getPageNumber() == 0 ? 'pagination-arrow disabled' : 'pagination-arrow'}">
                                <a th:href="@{'?page=' + ${(list.getPageable().getPageNumber() + 1) - 1} + ${url}}"
                                   class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(1, list.getTotalPages())}"><a
                                    th:href="@{'?page=' + ${i} + ${url}}"
                                    th:utext="${i}"
                                    th:class="${list.getPageable().getPageNumber() + 1 == i} ? 'ripple-effect current-page' : 'ripple-effect'"></a>
                            </li>
                            <li th:class="${list.getPageable().getPageNumber() == list.getTotalPages() - 1 ? 'pagination-arrow disabled' : 'pagination-arrow'}">
                                <a th:href="@{'?page=' + ${(list.getPageable().getPageNumber() + 1) + 1} + ${url}}"
                                   class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"></div>
                <!-- Pagination / End -->

                <!-- Footer -->
                <div th:replace="client/fragments/footer2.html :: div"></div>
                <!-- Footer / End -->

            </div>
        </div>
        <!-- Full Page Content / End -->


        <!-- Full Page Map -->
        <div class="full-page-map-container">

            <!-- Enable Filters Button -->
            <div class="filter-button-container">
                <button class="enable-filters-button">
                    <i class="enable-filters-button-icon"></i>
                    <span class="show-text">Show Filters</span>
                    <span class="hide-text">Hide Filters</span>
                </button>
                <div class="filter-button-tooltip">Click to expand sidebar with filters!</div>
            </div>

            <!-- Map -->
            <div id="map" data-map-zoom="12" data-map-scroll="true"></div>
        </div>
        <!-- Full Page Map / End -->

    </div>
</div>
</body>
<script layout:fragment="js">
    function changeJobCategory() {
        const change = $("#category").val();

        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            url: '/api/skills',
            data: {
                page: 1,
                size: 100,
                jobCategories: change.join(',')
            },
            success: function (res) {
                document.getElementById("tags-element").innerHTML = "";
                $.each(res.data.content, function (index, value) {
                    if (res.data.content !== []) {
                        document.getElementById("tags-element").innerHTML += `
                            <div class="tag">
                                <input type="checkbox" name="skills" id="tag${index}" value="${value.id}"/>
                                <label for="tag${index}">${value.name}</label>
                            </div>
                        `;
                    }
                })
            }
        })
    }

    $(document).ready(function () {
        $('#search-bar').on('submit', function (e) {
            e.preventDefault();

            const jobCategories = $(this).find('[name="jobCategories"]').val();
            const jobTypes = [];
            const skills = [];
            const names = [];
            const [salaryFrom, salaryTo] = $(this).find('[name="salaryRange"]').val().split(',');

            $.each($('.keywords-list .keyword-text'), function () {
                names.push($(this).text());
            });
            $.each($('input[name="jobTypes"]:checked'), function () {
                jobTypes.push($(this).val());
            });
            $.each($('input[name="skills"]:checked'), function () {
                skills.push($(this).val());
            });
            let url = `${window.location.pathname}?`;

            if (names.length) {
                url = `${url}&names=${names.join(',')}`;
            }
            if (jobCategories.length) {
                url = `${url}&jobCategories=${jobCategories.join(',')}`;
            }
            if (jobTypes.length) {
                url = `${url}&jobTypes=${jobTypes.join(',')}`;
            }
            if (skills.length) {
                url = `${url}&skills=${skills.join(',')}`;
            }
            if (salaryFrom) {
                url = `${url}&salaryFrom=${salaryFrom}`;
            }
            if (jobCategories) {
                url = `${url}&salaryTo=${salaryTo}`;
            }
            window.location.href = url;
        });
    });

    function initMap() {
        $('.job-listing').each(function () {
            var attr = $(this).data();
            const latLng = {lat: parseFloat(attr.location.split(',')[0]), lng: parseFloat(attr.location.split(',')[1])};
            locations.push(latLng);
        });

        const currentLocaltion = '[[${currentLocation}]]';
        const currentLat = currentLocaltion.split(',')[0];
        const currentLng = currentLocaltion.split(',')[1];

        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: parseFloat(currentLat), lng: parseFloat(currentLng)},
            ...mapConfig,
        });
        for (let i = 0; i < locations.length; i++) {
            const latLng = new google.maps.LatLng(parseFloat(locations[i].lat), parseFloat(locations[i].lng));
            initCustomerMarker(latLng, map, {marker_id: '1'});
        }
    }

    const locations = [];
</script>
</html>