<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/fragments/layout.html}">
<head>
    <title>Hireo</title>
</head>
<body>
<div class="full-page-container" layout:fragment="body">

    <div class="full-page-sidebar">
        <div class="full-page-sidebar-inner" data-simplebar>
            <form>
                <div class="sidebar-container">

                    <!-- Location -->
                    <div class="sidebar-widget">
                        <h3>Location</h3>
                        <div class="input-with-icon">
                            <div id="autocomplete-container">
                                <input id="autocomplete-input" type="text" placeholder="Location">
                            </div>
                            <i class="icon-material-outline-location-on"></i>
                        </div>
                    </div>


                    <!-- Keywords -->
                    <div class="sidebar-widget">
                        <h3>Keywords</h3>
                        <div class="keywords-container">
                            <div class="keyword-input-container">
                                <input type="text" class="keyword-input" placeholder="e.g. job title"/>
                                <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                            </div>
                            <div class="keywords-list"><!-- keywords go here --></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <!-- Category -->
                    <div class="sidebar-widget">
                        <h3>Category</h3>
                        <select onchange="state_change()" id="category" class="selectpicker default" multiple data-selected-text-format="count" data-size="3" title="All Categories" >
                            <option th:each="category : ${categories}" th:value="${category.id}" th:utext="${category.name}"></option>
                        </select>
                    </div>

                    <!-- Job Types -->
                    <div class="sidebar-widget">
                        <h3>Job Type</h3>

                        <div class="switches-list">
                            <div th:each="jobType : ${jobTypes}" class="switch-container">
                                <label class="switch"><input type="checkbox"><span class="switch-button"></span> [[${jobType.name}]]</label>
                            </div>
                        </div>

                    </div>

                    <!-- Salary -->
                    <div class="sidebar-widget">
                        <h3>Salary</h3>
                        <div class="margin-top-55"></div>

                        <!-- Range Slider -->
                        <input class="range-slider" type="text" value="" data-slider-currency="$" data-slider-min="1500" data-slider-max="15000" data-slider-step="100" data-slider-value="[1500,15000]"/>
                    </div>

                    <!-- Tags -->
                    <div class="sidebar-widget">
                        <h3>Tags</h3>

                        <div class="tags-container" id="tags-element">

                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <!-- Sidebar Container / End -->

                <!-- Search Button -->
                <div class="sidebar-search-button-container">
                    <button type="submit" class="button ripple-effect">Search</button>
                </div>
                <!-- Search Button / End-->
            </form>

        </div>
    </div>
    <!-- Full Page Sidebar / End -->

    <!-- Full Page Content -->
    <div class="full-page-content-container" data-simplebar>
        <div class="full-page-content-inner">

            <h3 class="page-title">Search Results</h3>

            <div class="notify-box margin-top-15">
                <div class="switch-container">
                    <label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Turn on email alerts for this search</span></label>
                </div>

                <div class="sort-by">
                    <span>Sort by:</span>
                    <select class="selectpicker hide-tick">
                        <option>Relevance</option>
                        <option>Newest</option>
                        <option>Oldest</option>
                        <option>Random</option>
                    </select>
                </div>
            </div>

            <div class="listings-container grid-layout margin-top-35">

                <!-- Job Listing -->
                <a th:each="listJob : ${listJobs}" th:href="@{'jobs/' + ${listJob.slug}}" class="job-listing">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">
                        <!-- Logo -->
                        <div class="job-listing-company-logo">
                            <img th:src="@{${listJob.employer.avatar}}" alt="">
                        </div>

                        <!-- Details -->
                        <div class="job-listing-description">
                            <h4 class="job-listing-company">[[${listJob.employer.name}]] <span class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span></h4>
                            <h3 class="job-listing-title" th:utext="${listJob.name}">Bilingual Event Support Specialist</h3>
                        </div>
                    </div>

                    <!-- Job Listing Footer -->
                    <div class="job-listing-footer">
                        <span class="bookmark-icon"></span>
                        <ul>
                            <li><i class="icon-material-outline-location-on"></i> [[${listJob.employer.address.substring(0, listJob.employer.address.indexOf(','))}]]</li>
                            <li><i class="icon-material-outline-business-center"></i> [[${listJob.jobType.name}]]</li>
                            <li th:if="${listJob.salaryFrom > 0}"><i class="icon-material-outline-account-balance-wallet"></i> $[[${listJob.salaryTo == null ? 0 : listJob.salaryTo}]] - $[[${listJob.salaryFrom == null ? 0 : listJob.salaryFrom}]]</li>
                            <li th:if="${listJob.salaryFrom == 0 || listJob.salaryFrom == null}"><i class="icon-material-outline-account-balance-wallet"></i> Negotiate</li>
                        </ul>
                    </div>
                </a>

            </div>

            <!-- Pagination -->
            <div class="clearfix"></div>
            <div th:if="${listJobs.getTotalPages() > 0}" class="pagination-container margin-top-20 margin-bottom-20">
                <nav class="pagination">
                    <ul>
                        <li th:class="${listJobs.getPageable().getPageNumber() == 0 ? 'pagination-arrow disabled' : 'pagination-arrow'}"><a th:href="@{/jobs(page=${(listJobs.getPageable().getPageNumber() + 1) - 1})}" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                        <li th:each="i : ${#numbers.sequence(1, listJobs.getTotalPages())}"><a th:href="@{/jobs(page=${i})}" th:utext="${i}" th:class="${listJobs.getPageable().getPageNumber() + 1==i} ? 'ripple-effect current-page' : 'ripple-effect'"></a></li>
                        <li th:class="${listJobs.getPageable().getPageNumber() == listJobs.getTotalPages() - 1 ? 'pagination-arrow disabled' : 'pagination-arrow'}"><a th:href="@{/jobs(page=${(listJobs.getPageable().getPageNumber() + 1) + 1})}" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="clearfix"></div>
            <!-- Pagination / End -->

            <!-- Footer -->
            <div class="small-footer margin-top-15">
                <div class="small-footer-copyrights">
                    © 2019 <strong>Hireo</strong>. All Rights Reserved.
                </div>
                <ul class="footer-social-links">
                    <li>
                        <a href="#" title="Facebook" data-tippy-placement="top">
                            <i class="icon-brand-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Twitter" data-tippy-placement="top">
                            <i class="icon-brand-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Google Plus" data-tippy-placement="top">
                            <i class="icon-brand-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="LinkedIn" data-tippy-placement="top">
                            <i class="icon-brand-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Footer / End -->

        </div>
    </div>
    <!-- Full Page Content / End -->

</div>
</body>
<script layout:fragment="js">
    function state_change() {
        var change = $("#category").val();
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            url: '/api/skills',
            data: {
                page: 1,
                size: 100,
                jobCategories: change.join(',')
            },
            success: function (res) {
                document.getElementById("tags-element").innerHTML = "";
                $.each(res.data.content, function(index, value){
                   if(res.data.content !== []){
                       document.getElementById("tags-element").innerHTML += "<div class=\"tag\">\n" +
                           "        <input type=\"checkbox\" id=\"tag" + index + "\"/>\n" +
                           "        <label for=\"tag" + index + "\">" + value.name + "</label>\n" +
                           "    </div>";
                   }
                })
            }
        })
    }
</script>
</html>
