<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/fragments/layout.html}">
<head>
    <title>Hireo</title>
</head>
<body>
<div class="full-page-container" layout:fragment="body">
    <div th:replace="client/modules/jobs/search-bar.html :: div"></div>

    <!-- Full Page Content -->
    <div class="full-page-content-container" data-simplebar>
        <div class="full-page-content-inner">
            <h3 class="page-title">Search Results</h3>

            <div class="listings-container grid-layout margin-top-35">
                <!-- Job Listing -->
                <a th:each="item : ${list}" th:href="@{${item.slug}}" class="job-listing">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">
                        <!-- Logo -->
                        <div class="job-listing-company-logo">
                            <img th:src="@{${item.employer.avatar}}" alt="">
                        </div>

                        <!-- Details -->
                        <div class="job-listing-description">
                            <h4 class="job-listing-company">
                                [[${item.employer.name}]]
                                <span class="verified-badge"
                                      title="Verified Employer"
                                      data-tippy-placement="top"></span>
                            </h4>
                            <h3 class="job-listing-title" th:utext="${item.name}"></h3>
                        </div>
                    </div>

                    <!-- Job Listing Footer -->
                    <div class="job-listing-footer">
                        <span class="bookmark-icon"></span>
                        <ul>
                            <li><i class="icon-material-outline-location-on"></i>
                                [[${item.address}]]
                            </li>
                            <li><i class="icon-material-outline-business-center"></i> [[${item.jobType.name}]]</li>
                            <li th:if="${item.salaryFrom > 0}">
                                <i class="icon-material-outline-account-balance-wallet"></i>
                                $[[${item.salaryFrom == null ? 0 : item.salaryFrom}]]
                                -
                                $[[${item.salaryTo == null ? 0 : item.salaryTo}]]
                            </li>
                            <li th:if="${item.salaryFrom == 0 || item.salaryFrom == null}"><i
                                    class="icon-material-outline-account-balance-wallet"></i> Negotiate
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <!-- Pagination -->
            <div class="clearfix"></div>
            <div th:if="${list.getTotalPages() > 0}" class="pagination-container margin-top-20 margin-bottom-20">
                <nav class="pagination">
                    <ul>
                        <li th:class="${list.getPageable().getPageNumber() == 0 ? 'pagination-arrow disabled' : 'pagination-arrow'}">
                            <a th:href="@{(page=${(list.getPageable().getPageNumber() + 1) - 1})}"
                               class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                        <li th:each="i : ${#numbers.sequence(1, list.getTotalPages())}"><a
                                th:href="@{(page=${i})}" th:utext="${i}"
                                th:class="${list.getPageable().getPageNumber() + 1 == i} ? 'ripple-effect current-page' : 'ripple-effect'"></a>
                        </li>
                        <li th:class="${list.getPageable().getPageNumber() == list.getTotalPages() - 1 ? 'pagination-arrow disabled' : 'pagination-arrow'}">
                            <a th:href="@{(page=${(list.getPageable().getPageNumber() + 1) + 1})}"
                               class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="clearfix"></div>
            <!-- Pagination / End -->

            <div th:replace="client/fragments/footer2.html :: div"></div>
        </div>
    </div>
    <!-- Full Page Content / End -->

</div>
</body>
<script layout:fragment="js">
    function state_change() {
        var change = $("#category").val();

        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            url: '/api/skills',
            data: {
                page: 1,
                size: 100,
                jobCategories: change.join(',')
            },
            success: function (res) {
                document.getElementById("tags-element").innerHTML = "";
                $.each(res.data.content, function (index, value) {
                    if (res.data.content !== []) {
                        document.getElementById("tags-element").innerHTML += `
                            <div class="tag">
                                <input type="checkbox" name="skills" id="tag${index}" value="${value.id}"/>
                                <label for="tag${index}">${value.name}</label>
                            </div>
                        `;
                    }
                })
            }
        })
    }

    $(document).ready(function () {
        $('#search-bar').on('submit', function (e) {
            e.preventDefault();

            const location = $(this).find('[name="location"]').val();
            const jobCategories = $(this).find('[name="jobCategories"]').val();
            const jobTypes = [];
            const skills = [];
            const names = [];
            const [salaryFrom, salaryTo] = $(this).find('[name="salaryRange"]').val().split(',');

            $.each($('.keywords-list .keyword-text'), function () {
                names.push($(this).text());
            });
            $.each($('input[name="jobTypes"]:checked'), function () {
                jobTypes.push($(this).val());
            });
            $.each($('input[name="skills"]:checked'), function () {
                skills.push($(this).val());
            });
            let url = `${window.location.pathname}?`;

            if (location) {
                url = `${url}&location=${location}`;
            }
            if (names.length) {
                url = `${url}&names=${names.join(',')}`;
            }
            if (jobCategories.length) {
                url = `${url}&jobCategories=${jobCategories.join(',')}`;
            }
            if (jobTypes.length) {
                url = `${url}&jobTypes=${jobTypes.join(',')}`;
            }
            if (skills.length) {
                url = `${url}&skills=${skills.join(',')}`;
            }
            if (salaryFrom) {
                url = `${url}&salaryFrom=${salaryFrom}`;
            }
            if (jobCategories) {
                url = `${url}&salaryTo=${salaryTo}`;
            }
            window.location.href = url;
        });
    });
</script>
</html>