<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/fragments/layout.html}">
<head>
    <title>Hireo</title>
</head>
<body>
<div class="dashboard-container" layout:fragment="body">
    <div th:replace="client/fragments/dashboard-sidebar.html :: div"></div>

    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">
            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Manage Jobs</h3>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li>Manage Jobs</li>
                    </ul>
                </nav>
            </div>

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-business-center"></i> My Job Listings</h3>
                        </div>

                        <div class="content">
                            <ul class="dashboard-box-list">
                                <li th:each="item : ${list}">
                                    <!-- Job Listing -->
                                    <div class="job-listing">

                                        <!-- Job Listing Details -->
                                        <div class="job-listing-details">

                                            <!-- Details -->
                                            <div class="job-listing-description">
                                                <h3 class="job-listing-title">
                                                    <a th:href="${'/dashboard/manage-jobs/' + item.slug}">[[${item.name}]]</a>
                                                    <th:inline th:switch="${item.status.toString()}">
                                                        <span th:case="'OPEN'" class="dashboard-status-button green">[[${item.status}]]</span>
                                                        <span th:case="'PROGRESSING'" class="dashboard-status-button yellow">[[${item.status}]]</span>
                                                        <span th:case="'CLOSED'" class="dashboard-status-button red">[[${item.status}]]</span>
                                                    </th:inline>
                                                </h3>

                                                <!-- Job Listing Footer -->
                                                <div class="job-listing-footer">
                                                    <ul>
                                                        <li>
                                                            <i class="icon-material-outline-date-range"></i>
                                                            Posted on [[${#dates.format(item.createdAt, 'dd MMMM, yyyy')}]]
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="buttons-to-right always-visible">
                                        <a th:href="${'/dashboard/manage-jobs/' + item.slug + '/proposals'}" class="button ripple-effect">
                                            <i class="icon-material-outline-supervisor-account"></i>
                                            Manage Candidates
                                            <span class="button-info" th:text="${item.candidatesCount}"></span>
                                        </a>

                                        <a th:href="${'/dashboard/manage-jobs/' + item.slug}" class="button gray ripple-effect ico" title="Edit"
                                           data-tippy-placement="top">
                                            <i class="icon-feather-edit"></i>
                                        </a>

                                        <a th:if="${item.status.toString() != 'CLOSED'}" th:href="${'/dashboard/delete-job/' + item.slug}"
                                           onclick="if (!confirm('Are you sure to delete this job? All the proposals will all be deleted!')) return false"
                                           class="button gray ripple-effect ico"
                                           title="Remove"
                                           data-tippy-placement="top">
                                            <i class="icon-feather-trash-2"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div th:if="${list.getTotalPages() > 1}"
                             class="pagination-container margin-top-20 margin-bottom-20">
                            <nav class="pagination">
                                <ul>
                                    <li th:class="${list.getPageable().getPageNumber() == 0 ? 'pagination-arrow disabled' : 'pagination-arrow'}">
                                        <a th:href="@{/dashboard/manage-jobs(page=${(list.getPageable().getPageNumber() + 1) - 1})}"
                                           class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                    <li th:each="i : ${#numbers.sequence(1, list.getTotalPages())}">
                                        <a th:href="@{/dashboard/manage-jobs(page=${i})}" th:utext="${i}"
                                           th:class="${list.getPageable().getPageNumber() + 1 == i} ? 'ripple-effect current-page' : 'ripple-effect'"></a>
                                    </li>
                                    <li th:class="${list.getPageable().getPageNumber() == list.getTotalPages() - 1 ? 'pagination-arrow disabled' : 'pagination-arrow'}">
                                        <a th:href="@{/dashboard/manage-jobs(page=${(list.getPageable().getPageNumber() + 1) + 1})}"
                                           class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Row / End -->

            <!-- Footer -->
            <div class="dashboard-footer-spacer"></div>

            <div th:replace="client/fragments/footer2.html :: div"></div>
        </div>
    </div>
    <!-- Dashboard Content / End -->
</div>
</body>
</html>
