<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/fragments/layout.html}">
<head>
    <title>Hireo</title>
</head>
<body>
<div class="dashboard-container" layout:fragment="body">
	<div th:replace="client/fragments/dashboard-sidebar.html :: div"></div>

	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >

			<!-- Dashboard Headline -->
			<div class="dashboard-headline job--info">
				<h3>Manage Candidates</h3>
				<span class="margin-top-7">Job Applications for <a th:href="${'/dashboard/manage-jobs/' + job.slug}" target="_blank">[[${job.name}]]</a></span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/dashboard">Dashboard</a></li>
						<li><a href="/dashboard/manage-jobs">Manage Jobs</a></li>
						<li>Manage Candidates</li>
					</ul>
				</nav>
			</div>

			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-supervisor-account"></i> [[${job.candidatesCount}]] Candidates</h3>
						</div>

						<div class="content">
							<ul class="dashboard-box-list">
								<li th:each="proposal : ${list}"
									th:data-proposal-id="${proposal.id}"
									th:data-employee-name="${proposal.employee.firstName + ' ' + proposal.employee.lastName}"
									th:data-employee-slug="${proposal.employee.slug}"
									class="review--info">
									<!-- Overview -->
									<div class="freelancer-overview manage-candidates">
										<div class="freelancer-overview-inner">

											<!-- Avatar -->
											<div class="freelancer-avatar">
												<div class="verified-badge"></div>
												<a th:href="${'/employers' + proposal.employee.slug}"><img th:src="${proposal.employee.avatar}" alt=""></a>
											</div>

											<!-- Name -->
											<div class="freelancer-name">
												<h4>
													<a th:href="${'/employers/' + proposal.employee.slug}">
														[[${proposal.employee.firstName + ' ' + proposal.employee.lastName}]]
														<!--<img class="flag" src="images/flags/au.svg" alt="" title="Australia" data-tippy-placement="top">-->
													</a>
													<th:inline th:switch="${proposal.status.toString()}">
                                                        <span th:case="'PENDING'" class="dashboard-status-button yellow">[[${proposal.status}]]</span>
                                                        <span th:case="'ACCEPTED'" class="dashboard-status-button green">[[${proposal.status}]]</span>
                                                        <span th:case="'SUCCEEDED'" class="dashboard-status-button green">[[${proposal.status}]]</span>
                                                        <span th:case="'FAILED'" class="dashboard-status-button red">[[${proposal.status}]]</span>
                                                    </th:inline>
												</h4>

												<!-- Details -->
												<span class="freelancer-detail-item">
													<a th:href="${'mailto:' + proposal.employee.email}">
														<i class="icon-feather-mail"></i>
														[[${proposal.employee.email}]]
													</a>
												</span>

												<span class="freelancer-detail-item" th:if="${proposal.employee.phone != null}">
													<i class="icon-feather-phone"></i>
													[[${proposal.employee.phone}]]
												</span>

												<!-- Rating -->
												<div class="freelancer-rating">
													<div class="star-rating" th:data-rating="${proposal.employee.rating}"></div>
												</div>

												<!-- Buttons -->
												<div class="buttons-to-right always-visible margin-top-25 margin-bottom-5">
													<a class="button ripple-effect"
													   th:if="${proposal.attachments}"
													   th:href="${proposal.attachments.cv.url}">
														<i class="icon-feather-file-text"></i> Download CV
													</a>

													<a th:href="${'/dashboard/job-proposals/accept/' + proposal.id}"
													   onclick="if (!confirm('Are you sure?')) return false"
													   class="button gray ripple-effect ico"
													   title="Accept Candidate"
													   th:if="${proposal.status.toString() == 'PENDING'}"
													   data-tippy-placement="top">
														<i class="icon-material-outline-check"></i>
													</a>

													<a th:href="${'/dashboard/job-proposals/reject/' + proposal.id}"
													   onclick="if (!confirm('Are you sure?')) return false"
													   class="button gray ripple-effect ico"
													   title="Reject Candidate"
													   th:if="${proposal.status.toString() == 'PENDING'}"
													   data-tippy-placement="top">
														<i class="icon-feather-trash-2"></i>
													</a>

													<a th:href="${'/dashboard/job-proposals/fail/' + proposal.id}"
													   onclick="if (!confirm('Are you sure this employee did not satisfy your requirement?')) return false"
													   class="button gray ripple-effect ico"
													   title="Set Failed"
													   th:if="${proposal.status.toString() == 'ACCEPTED'}"
													   data-tippy-placement="top">
														<i class="icon-feather-x"></i>
													</a>

													<a href="#small-dialog-2"
													   class="popup-with-zoom-anim button ripple-effect review-btn"
													   th:if="${!proposal.hasReview && (proposal.status.toString() == 'FAILED' || proposal.status.toString() == 'SUCCEEDED')}">
														<i class="icon-material-outline-thumb-up"></i> Leave a Review
													</a>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div th:replace="client/fragments/footer2.html :: div"></div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->

	<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

        <!--Tabs -->
        <div class="sign-in-form">

            <ul class="popup-tabs-nav"></ul>

            <div class="popup-tabs-container">

                <!-- Tab -->
                <div class="popup-tab-content" id="tab2">

                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Leave a Review</h3>
                        <span>Rate <a href="#" class="review--employee-info"></a> for the job <a th:href="${'/dashboard/manage-jobs/' + job.slug}" target="_blank">[[${job.name}]]</a></span>
                    </div>

                    <!-- Form -->
                    <form method="post" id="leave-review-form">
						<input type="hidden" name="jobProposalId">

                        <div class="feedback-yes-no">
                            <strong>Was this delivered on budget?</strong>
                            <div class="radio">
                                <input id="radio-1" name="deliveredOnBudget" type="radio" value="true" required>
                                <label for="radio-1"><span class="radio-label"></span> Yes</label>
                            </div>

                            <div class="radio">
                                <input id="radio-2" name="deliveredOnBudget" type="radio" value="false" required>
                                <label for="radio-2"><span class="radio-label"></span> No</label>
                            </div>
                        </div>

                        <div class="feedback-yes-no">
                            <strong>Was this delivered on time?</strong>
                            <div class="radio">
                                <input id="radio-3" name="deliveredOnTime" type="radio" value="true" required>
                                <label for="radio-3"><span class="radio-label"></span> Yes</label>
                            </div>

                            <div class="radio">
                                <input id="radio-4" name="deliveredOnTime" type="radio" value="false" required>
                                <label for="radio-4"><span class="radio-label"></span> No</label>
                            </div>
                        </div>

                        <div class="feedback-yes-no">
                            <strong>Your Rating</strong>
                            <div class="leave-rating">
                                <input type="radio" name="rating" id="rating-radio-1" value="1" required>
                                <label for="rating-radio-1" class="icon-material-outline-star"></label>
                                <input type="radio" name="rating" id="rating-radio-2" value="2" required>
                                <label for="rating-radio-2" class="icon-material-outline-star"></label>
                                <input type="radio" name="rating" id="rating-radio-3" value="3" required>
                                <label for="rating-radio-3" class="icon-material-outline-star"></label>
                                <input type="radio" name="rating" id="rating-radio-4" value="4" required>
                                <label for="rating-radio-4" class="icon-material-outline-star"></label>
                                <input type="radio" name="rating" id="rating-radio-5" value="5" required>
                                <label for="rating-radio-5" class="icon-material-outline-star"></label>
                            </div>
							<div class="clearfix"></div>
                        </div>

                        <textarea class="with-border" placeholder="Comment" name="message" id="message" cols="7" required></textarea>

						<div class="error-message">
<!--							<div class="notification error closeable margin-top-15">-->
<!--								<p>Please fill in all the fields required</p>-->
<!--								<a class="close"></a>-->
<!--							</div>-->
						</div>

						<button class="button full-width button-sliding-icon ripple-effect"
								type="submit"
								form="leave-review-form">
							Leave a Review <i class="icon-material-outline-arrow-right-alt"></i>
						</button>
                    </form>

                    <!-- Button -->
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="js">
	$(document).ready(function () {
		$.fn.serializeObject = function() {
			const o = {};
			const a = this.serializeArray();
			$.each(a, function() {
				if (o[this.name]) {
					if (!o[this.name].push) {
						o[this.name] = [o[this.name]];
					}
					o[this.name].push(this.value || '');
				} else {
					o[this.name] = this.value || '';
				}
			});
			return o;
		};

		$('.review-btn').on('click', function () {
			const $info = $(this).parent().closest('li.review--info');
			const employeeName = $info.data('employee-name');
			const employeeSlug = $info.data('employee-slug');
			const proposalId = $info.data('proposal-id');

			const $reviewInfo = $('.review--employee-info');
			$reviewInfo.attr('href', `/employers/${employeeSlug}`);
			$reviewInfo.text(employeeName);
			$('[name="jobProposalId"]').val(proposalId);
		});

		$('#leave-review-form').on('submit', function (e) {
			e.preventDefault();
			const serializedObject = $(this).serializeObject();
			serializedObject.deliveredOnBudget = serializedObject.deliveredOnBudget === 'true';
			serializedObject.deliveredOnTime = serializedObject.deliveredOnTime === 'true';
			serializedObject.rating = parseInt(serializedObject.rating, 10);

			$.ajax({
				url: '/api/reviews/employees',
				type: 'POST',
				dataType: 'json',
				contentType: 'application/json',
				headers: {
					[$('[name="_csrf_header"]').attr('content')]: $('[name="_csrf"]').attr('content'),
				},
				data: JSON.stringify(serializedObject),
				success: function () {
					window.location.reload();
				},
				error: function (a, b, c) {
					console.log(a, b, c);
				},
			});
		});
	});
</script>
</body>
</html>